<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.dlnu.daos.CommentMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.dlnu.models.Comment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="model_type" property="modelType" jdbcType="INTEGER" />
    <result column="auth_id" property="authId" jdbcType="INTEGER" />
    <result column="object_type" property="objectType" jdbcType="INTEGER" />
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="temp" property="temp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, status, model_type, auth_id, object_type, object_id, title, comment, create_time, 
    temp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.dlnu.models.Comment" >
    insert into comment (id, status, model_type, 
      auth_id, object_type, object_id, 
      title, comment, create_time, 
      temp)
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{modelType,jdbcType=INTEGER}, 
      #{authId,jdbcType=INTEGER}, #{objectType,jdbcType=INTEGER}, #{objectId,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{temp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.dlnu.models.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="modelType != null" >
        model_type,
      </if>
      <if test="authId != null" >
        auth_id,
      </if>
      <if test="objectType != null" >
        object_type,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="temp != null" >
        temp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="modelType != null" >
        #{modelType,jdbcType=INTEGER},
      </if>
      <if test="authId != null" >
        #{authId,jdbcType=INTEGER},
      </if>
      <if test="objectType != null" >
        #{objectType,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="temp != null" >
        #{temp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.dlnu.models.Comment" >
    update comment
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="temp != null" >
        temp = #{temp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.dlnu.models.Comment" >
    update comment
    set status = #{status,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      temp = #{temp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByAuthId" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where auth_id = #{auth_id,jdbcType=INTEGER} ORDER BY auth_id LIMIT #{start},#{end}   
  </select>
  
  <select id="getComments" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where object_type=4 and object_id=#{id} and status=1 
  </select>
  
  <update id="delete" parameterType="cn.edu.dlnu.models.Comment" >
    update comment
    set status = #{status,jdbcType=INTEGER},
      model_type = #{modelType,jdbcType=INTEGER},
      auth_id = #{authId,jdbcType=INTEGER},
      object_type = #{objectType,jdbcType=INTEGER},
      object_id = #{objectId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      temp = #{temp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>